<span class="mdi mdi-@Type @Class" style="@Style"></span>

@code {
    [Parameter]
    public string Type { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Style { get; set; }
}
