@inject MaterialDesignIconModule Module

@switch (Module.Options.Provider)
{
    case MaterialDesignIconProvider.Font:
        <span class="mdi mdi-@Type @Class" style="@Style"></span>
        break;
    case MaterialDesignIconProvider.Svg:
        <span class="@Class" style="@Style">
            <img src="_content/StardustDL.RazorComponents.MaterialDesignIcons/mdi/svg/@(Type).svg" />
        </span>
        break;
}

@code {
    [Parameter]
    public string Type { get; set; } = "";

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string Style { get; set; } = "";
}
